<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="black.kr.hs.mirim.sosimtapaxml">
    <!-- 위치 정보 접근 허용 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cat"
        android:label="소심타파"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testResult"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBggq7qP3BvEV5C0aKMqT27IaL9j1hnRIM" />

        <activity android:name=".MyPlaceWrite" />
        <activity
            android:name=".MyPlace"
            android:label="M Y P L A C E"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".scriptPic6" />
        <activity android:name=".scriptPic5" />
        <activity android:name=".scriptPic4" />
        <activity android:name=".scriptPic3" />
        <activity android:name=".scriptPic2" />
        <activity android:name=".scriptPic1" />
        <activity android:name=".first">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Audio" />
        <activity android:name=".Main1WriteActivity" />
        <activity
            android:name=".MainActivity1"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".scriptFlipImage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".testStart" />
        <activity android:name=".testMid" />
        <activity android:name=".VoiceActivity" />
    </application>

</manifest>